@import 'fonts';
@import 'global';


// start header 

.header {

  &__top{
    height: 100px;
    background-color: #eef1f3;
  }
  
  &__top-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-menu {
    display: flex;
    align-items: center;
  }

  &__top-btn {
    padding: 4px 18px;
    color: #fff;
    background-color: #0674ec;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 28px;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 50px;
    transition: all .3s;
    &:hover {
      opacity: .8;
    }
  }

  &__top-item {
    text-decoration: none;
    color: #7e8fa1;
    font-size: 20px;
    margin-right: 30px;
    position: relative;
  }

  &__notification {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__notification--red {
    background-color: #ff6a6c;
  }

  &__notification--green {
    background-color: #62d03b;
  }

  &__notification--blue {
    background-color: #0674ec;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__avatar-img {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #7c7979;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 27px;
  }

  &__username {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    font-weight: 500;
    text-decoration: none;
  }

  &__userbalanse {
    font-size: 15px;
    line-height: 22px;
    color: #0674ec;
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
}

.menu {
  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    & + .menu__item {
      margin-left: 30px;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 42px;
    font-weight: 500;
    color: #333333;
    transition: all .3s;
    &:hover {
      font-weight: 700;
    }
  }  
}


.header {
  &__search {
    max-width: 360px;
    width: 100%;
    position: relative;
  }
  &__search-input {
    display: block;
    width: 100%;
    height: 46px;
    border: 1px solid #d9dfe5;
    border-radius: 25px;
    font-size: 15px;
    line-height: 30px;
    padding-left: 25px;
    padding-right: 85px;
    outline: transparent;
    &:focus {
      border: 1px solid #898f96;
    }
    &::placeholder {
      color: #898f96;
    }
  }
  
  &__search-btn {
    position: absolute;
    border: none;
    background-color: #0674ec;
    color: #fff;
    width: 70px;
    height: 46px;
    border-radius: 25px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      opacity: .8;
    }
  }
}

// end header 

// start banner 

.banner {
  height: 725px;
  background: rgb(45,81,209);
  background: linear-gradient(to right,  rgb(45,81,209) 0%,rgb(25,62,197) 50%,rgb(9,47,186) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d51d1', endColorstr='#092fba',GradientType=1 );
  color: #f3f3f8;
  text-align: center;
  padding: 170px 0 150px;
  font-size: 60px;
  line-height: 70px;

  &__title {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  &__title--bold {
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }
  &__btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    &:hover {
      color: #0674ec;
      background-color: #fff;
    }
  }
}


// end banner 

// start search-box 

.search-box {
  &__inner {
    position: relative;
  }

  &__form {
    height: 135px;
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: -67px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: rgba(255, 255, 255, .5);
      border-radius: 4px 4px 0 0;
    }
    &::before {
      width: calc(100% - 30px);
      height: 13px;
      top: -13px;
      left: 15px;
      right: 15px;
    }
    &::after {
      width: calc(100% - 60px);
      height: 26px;
      top: -26px;
      left: 30px;
      right: 30px;
    }
  }

  &__input {
    display: block;
    max-width: 613px;
    width: 100%;
    height: 55px;
    padding: 0 30px;
    color: #676767;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    &::placeholder {
      font-size: 16px;
      color: #676767;
    }
  }

  &__select-box {
    position: relative;
    margin-right: auto;
    max-width: 195px;
    width: 100%;
  }
  &__select {
    height: 55px;
    max-width: 195px;
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 0 4px 4px 0;
    padding-left: 20px;
    padding-right: 50px;
    display: block;
    outline: transparent;
    appearance: none;
  }
  &__btn {
    background-color: #0674ec;
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    border: none;
    max-width: 223px;
    width: 100%;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      opacity: .8;
    }
  }
}

.icon-lnr-chevron-down {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}

// end search-box 

// start features 

.features {
  padding: 187px 0 121px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    max-width: 360px;
    padding: 40px 30px;
    transition: all .3s;
    &:hover {
      border-radius: 4px;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
  &__item-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 35px;
    &--research {
      background-image: url(../images/futures-img.png);
      width: 112px;
      height: 113px;
    }
    &--responsive {
      background-image: url(../images/futures-img2.png);
      width: 113px;
      height: 120px;
    }
    &--sell {
      background-image: url(../images/futures-img3.png);
      width: 112px;
      height: 112px;
    }
  }
  &__item-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 35px;
  }
  &__item-txt {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }
}


// end features 


// start featured-product 

.featured-product {
  background-color: #eff1f5;
  padding: 120px 0;
}

.section-title {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
  &__title {
    font-size: 30px;
    color: #000;
  }
}


.featured-product .slick-arrow {
  border: none;
  outline: transparent;
  width: 55px;
  height: 45px;
  background-color: #7347c1;
  color: #fff;
  font-size: 14px;
  z-index: 5;
  transition: all .3s;
  &:hover {
    opacity: .8;
  }
}

.featured-product .slick-prev {
  border-radius: 30px 0 0 30px;
}

.featured-product .slick-next {
  border-radius: 0 30px 30px 0;
}

.featured-product {
  &__item-inner {
    width: 100%;
    height: 450px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    display: flex;
  }
  &__img-box {
    max-width: 556px;
    width: 100%;
    height: 100%;
    background-color: #4e5760;
    border-radius: 4px 0 0 4px;
    position: relative;
    &:hover .featured-product__img-hover {
      top: 0;
    }
  }
  &__img {
    object-fit: cover;
    max-width: 556px;
    min-height: 450px;
    border-radius: 4px 0 0 4px;
  }
  &__img-hover {
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 2;
    max-width: 556px;
    width: 100%;
    height: 450px;
    border-radius: 4px 0 0 4px;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(111,73,183);
    background: linear-gradient(to right,  rgba(111,73,183,.9) 0%,rgba(67,91,201,.9) 50%,rgba(13,113,222,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f49b7', endColorstr='#0d71de',GradientType=1 );
  }
  &__img-btn {
    width: 130px;
    padding: 13px 15px;
    margin: 0 5px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
    &:hover {
      background-color: #fff;
      color: #0674ec;
    }
  }
  &__descr {
    padding: 45px 50px 20px;
    max-width: 586px;
    width: 100%;
  }
  &__descr-title {
    font-size: 24px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__descr-author {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
  &__descr-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7347c1;
    margin-right: 9px;
    outline: none;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 30px;
      height: 30px;
    }
  }
  &__descr-name {
    color: #000;
    margin-right: 20px;
    text-decoration: none;
  }
  &__descr-thema {
    width: 16px;
    height: 16px;
    margin-right: 9px;
    outline: none;
    img {
      object-fit: cover;
      width: 16px;
      height: 16px;
    }
  }
  &__descr-platform {
    color: #7347c1;
    text-decoration: none;
  }
  &__descr-text {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    margin-bottom: 35px;
    height: 115px;
    overflow: hidden;
  }
  &__descr-categories {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }
  &__descr-category {
    font-size: 15px;
    color: #868c96;
    background-color: #f1f3f6;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
  }
  &__descr-category + .featured-product__descr-category {
    margin-left: 7px;
  }
  &__descr-info {
    display: flex;
    align-items: center;
    padding-top: 23px;
    font-size: 15px;
  }
  &__descr-price {
    color: #fff;
    background-color: #0674ec;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 20px;
  }
  &__descr-like {
    color: #555;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__descr-cart {
    color: #0674ec;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__descr-star {
    margin-left: auto;
  }
}

.featured-heart {
  color: #7347c1;
  font-weight: 500;
  margin-right: 5px;
}

.featured-cart {
  font-weight: 500;
  margin-right: 5px;
}

// end featured-product 


// start new-items 

.new-items {
  background-color: #f6f7fb;
  &__inner {
    padding: 120px 0;
  }
  &__title-box {
    margin-bottom: 30px;
    position: relative;
  }
  &__filter {
    font-size: 16px;
    color: #747b86;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
  }
  &__filter-btn {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #a3b1c4;
    margin-bottom: 2px;
    margin-left: 25px;
    position: relative;
  }
  &__filter-btn::before,
  &__filter-btn::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #a3b1c4;
    left: 0;
  }
  &__filter-btn::before {
    bottom: 7px;
  }
  &__filter-btn::after {
    top: 7px;
  }
}



.filter__box {
  display: none;
  max-width: 183px;
  width: 100%;
  position: absolute;
  top: 88px;
  right: 10px;
}

.filter__inner {
  position: relative;
  max-width: 183px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__item + .filter__item {
  margin-top: 14px;
}

.filter__link {
  font-size: 15px;
  color: #747b86;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.filter__link:hover {
  font-size: 15px;
  color: #0674ec;
  transition: color .5s;
}

.filter__triangle {
  position: absolute;
  top: -12px;
  right: 18px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 13px 6px;
  border-color: transparent transparent #ffffff transparent;
}



.new-items {
  &__btn-box {
    width: 100%;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    margin-bottom: 50px;
    overflow: hidden;
  }
  &__btn {
    font-size: 15px;
    color: #747b86;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    background-color: #f1f3f6;
    border-radius: 20px;
    outline: transparent;
    transition: all .3s;
  }
  &__btn + .new-items__btn {
    margin-left: 8px;
  }
  &__btn:hover {
    background-color: #0674ec;
    color: #fff;
  }
  &__product-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}




.product-card {
  max-width: 361px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  &__img-box {
    display: block;
    max-width: 361px;
    min-height: 230px;
    position: relative;
    &:hover .product-card__img-hover {
      left: 0;
    }
  }
  &__img {
    max-width: 361px;
    min-height: 230px;
    object-fit: cover;
  }
  &__img-hover {
    position: absolute;
    left: -100%;
    top: 0;
    max-width: 361px;
    min-height: 230px;
    width: 100%;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(111,73,183);
    background: linear-gradient(to right,  rgba(111,73,183,.9) 0%,rgba(67,91,201,.9) 50%,rgba(13,113,222,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f49b7', endColorstr='#0d71de',GradientType=1 );
  }
  &__img-btn {
    width: 130px;
    padding: 13px 15px;
    margin: 0 5px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
  }
  &__img-btn:hover {
    background-color: #fff;
    color: #0674ec;
  }
  &__title {
    padding: 30px 30px 18px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
  }
  &__user {
    display: flex;
    align-items: center;
    padding: 0 30px;
  }
  &__avatar {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #7347c1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 7px;
  }
  &__name {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
  }
  &__cms {
    width: 16px;
    height: 16px;
    margin-right: 9px;
    outline: none;
    img {
      object-fit: cover;
      width: 16px;
      height: 16px;
    }
  }
  &__thema {
    font-size: 15px;
    color: #7347c1;
    text-decoration: none;
  }
  &__text {
    max-height: 90px;
    padding: 0 30px;
    margin: 30px 0;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    overflow: hidden;
  }
  &__info {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-top: 1px solid #ececec;
  }
  &__price {
    color: #0674ec;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 18px;
    background-color: #e6f1fd;
    border-radius: 20px;
    margin-right: 15px;
  }
  &__like {
    font-size: 15px;
    color: #6f7d8d;
    padding-left: 20px;
    margin-right: 16px;
    position: relative;
    &::before {
      content: '\e90e';
      position: absolute;
      font-family: 'icomoon';
      color: #7f4ec2;
      font-size: 15px;
      left: 0;
      top: 0;
    }
  }
  &__cart {
    margin-left: auto;
    font-size: 15px;
    color: #0674ec;
    padding-left: 23px;
    position: relative;
    &::before {
      content: '\e905';
      position: absolute;
      font-family: 'icomoon';
      color: #0674ec;
      font-size: 15px;
      left: 0;
      top: 0;
    }
  }
}

.new-items__button {
  display: block;
  width: 190px;
  margin: 0 auto;
  color: #fff;
  background-color: #0674ec;
  border: none;
  margin-top: 30px;
  &:hover {
    opacity: .8;
  }
}

// end new-items 
.follower-feed {
  padding: 120px 0 120px;
  background-color: #eff1f5;
  & .slick-arrow {
    background-color: #0674ec;
    border: none;
    outline: transparent;
    width: 55px;
    height: 45px;
    color: #fff;
    font-size: 14px;
    z-index: 5;
    transition: all .3s;
    &:hover {
      opacity: .8;
    }
  }
  & .slick-prev {
    border-radius: 30px 0 0 30px;
  }
  & .slick-next {
    border-radius: 0 30px 30px 0;
  }
}

// start follower-feed 


.follower-feed__slider-inner .product-card {
  margin-bottom: 0;
}


// end follower-feed 


// start fun-fact 

.fun-fact {
  background-color: #212225;
  padding: 95px 0 95px;
  &__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__ico {
    font-size: 48px;
    margin-bottom: 40px;
    &--yellow {
      color: #feb71d;
    }
    &--blue {
      color: #58c9e9;
    }
    &--green {
      color: #77de51;
    }
    &--red {
      color: #ff6a6d;
    }
  }
  &__num {
    font-size: 36px;
    margin-bottom: 15px;
    &--yellow {
      color: #feb71d;
    }
    &--blue {
      color: #58c9e9;
    }
    &--green {
      color: #77de51;
    }
    &--red {
      color: #ff6a6d;
    }
  }
  &__txt {
    font-size: 18px;
    color: #fff;
  }
}


// end fun-fact 

// start why-choose 

.why-choose {
  padding: 120px 0 90px;
}

.section-ttl {
  text-align: center;
  &__title {
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
  }
  &__title-span {
    color: #0674ec;
  }
  &__text {
    display: block;
    max-width: 680px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    color: #555;
  }
}

.why-choose {
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  &__item {
    max-width: 361px;
    width: 100%;
    padding: 55px 25px 60px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    text-align: center;
    position: relative;
  }
  &__num {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 48px;
    color: #dee7fe;
    font-weight: 300;
  }
  &__ico {
    font-size: 60px;
    margin-bottom: 40px;
  }
  &__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #555;
    margin: 0;
  }
  .icon-lnr-license {
    color: #0674ec;
  }
  .icon-lnr-magic-wand {
    color: #7f4ec2;
  }
  .icon-lnr-lock {
    color: #77de51;
  }
  .icon-lnr-chart-bars {
    color: #feb71d;
  }
  .icon-lnr-leaf {
    color: #58c9e9;
  }
  .icon-lnr-phone {
    color: #ff6a6d;
  }
}


// end why-choose 


// start sell-buy 

.sell-buy {
  display: flex;
  &__sell,
  &__buy {
    background-image: url(../images/sell-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 961px;
    width: 100%;
    min-height: 561px;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
  }
  &__buy {
    background-image: url(../images/buy-bg.jpg);
    max-width: 959px;
    width: 100%;
  }
  &__sell-ico,
  &__buy-ico {
    display: block;
    background-image: url(../images/sell-Icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 120px;
    width: 100%;
    min-height: 101px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  &__buy-ico {
    background-image: url(../images/buy-Icon.png);
    max-width: 100px;
    width: 100%;
    min-height: 100px;
  }
  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  &__button {
    background-color: #fff;
    text-decoration: none;
    max-width: 190px;
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    &:hover {
      background-color: transparent;
      color: #fff;
    }
    &--sell {
      color: #0674ec;
    }
    &--buy {
      color: #7347c1;
    }
  }
}
// end sell-buy 



// start testimonials 

.testimonials {
  padding: 120px 0;
  .section-ttl {
    margin-bottom: 50px;
  }
  &__item {
    padding: 50px 35px;
    border-left: 2px solid #0674ec;
    max-width: 555px;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #808080;
    margin-right: 18px;
  }
  &__user-name {
    display: block;
    font-size: 20px;
    color: #000;
    margin-bottom: 7px;
    text-decoration: none;
  }
  &__prof {
    display: block;
    font-size: 16px;
    color: #555;
    text-decoration: none;
  }
  &__ico {
    margin-left: auto;
    font-size: 60px;
    color: #e8e8e8;
  }
  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    color: #555;
  }
  &__button {
    display: block;
    max-width: 190px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #0674ec;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}

.testimonials {
  &__slider-inner{
    position: relative;
    & .slick-arrow {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
      background-color: #fff;
      color: #0674ec;
      border: none;
      outline: none;
      z-index: 5;
      &:focus {
        color: #7347c1;
      }
    }
    & .slick-next {
      right: -25px;
      left: auto;
    }
    & .slick-prev {
      left: -25px;
    }
  }
}



// end testimonials 

// start blog 

.blog {
  background-color: #eff1f5;
  padding: 120px 0;
  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__item {
    max-width: 361px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    overflow: hidden;
  }
  &__item-img {
    max-width: 361px;
    height: 230px;
  }
  &__item-about {
    padding: 30px 30px 0;
    height: 186px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  &__item-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
    margin-bottom: 30px;
  }
  &__item-text {
    font-size: 16px;
    line-height: 30px;
    color: #555;
    margin: 0;
  }
  &__item-info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    align-items: center;
    padding: 10px 30px;
    font-size: 15px;
    line-height: 36px;
    color: #999999;
  }
  &__item-date {
    padding: 0 45px 0 20px;
    border-right: 1px solid #ececec;
    position: relative;
    &::before {
      content: '\e90a';
      position: absolute;
      font-family: 'icomoon';
      color: #0674ec;
      font-size: 15px;
      left: 0;
      top: 0;
    }
  }
  &__item-testimonials {
    padding-left: 22px;
    position: relative;
    &::before {
      content: '\e904';
      position: absolute;
      font-family: 'icomoon';
      color: #999999;
      font-size: 15px;
      left: 0;
      top: 0;
    }
  }
  &__item-views {
    padding-left: 22px;
    position: relative;
    &::before {
      content: '\e90d';
      position: absolute;
      font-family: 'icomoon';
      color: #999999;
      font-size: 15px;
      left: 0;
      top: 0;
    }
  }
}


// end blog 


// start money-support 
.money-support {
  &__inner {
    display: flex;
  }
  &__item {
    max-width: 572px;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    & + .money-support__item {
      border-left: 1px solid #e8eaf3;
    }
  }
  &__ico {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 30px;
    &--money {
      background-image: url(../images/money-ico.png);
      max-width: 150px;
      width: 100%;
      min-height: 120px;
    }
    &--support {
      background-image: url(../images/support-ico.png);
      max-width: 155px;
      width: 100%;
      min-height: 117px;
    }
  }
  &__title {
    font-size: 24px;
    color: #000;
  }
  &__link {
    text-decoration: none;
    &--money {
      color: #0674ec;
    }
    &--support {
      color: #7347c1;
    }
  }
}

// end money-support 


// start join-banner 
.join-banner {
  background: rgb(103,30,144);
  background: linear-gradient(to right,  rgba(103,30,144,1) 0%,rgba(61,41,178,1) 50%,rgba(12,55,218,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#671e90', endColorstr='#0c37da',GradientType=1 );
  &__inner {
    text-align: center;
    padding: 110px 0;
  }
  &__title {
    font-size: 36px;
    color: #fff;
    margin-bottom: 25px;
  }
  &__text {
    margin: 0;
    font-size: 18px;
    color: #e7e7e7;
    margin-bottom: 50px;
  }
  &__btn {
    text-decoration: none;
    display: block;
    color: #0674ec;
    background-color: #fff;
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #fff;
    &:hover {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}

// end join-banner 


// start footer


.footer {
  &__copy {
    background-color: #192027;
    text-align: center;
    padding: 40px 0;
    font-size: 15px;
    color: #999999;
  }
  &__copy-link {
    color: #fff;
    text-decoration: none;
  }

  &__wrapper {
    background-color: #262b30;
    padding: 115px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 270px;
  }
  &__logo-img {
    margin-bottom: 30px;
  }
  &__info-txt {
    margin: 0;
    font-size: 15px;
    line-height: 28px;
    color: #ababab;
    margin-bottom: 20px;
  }
  &__info-phone,
  &__info-email,
  &__info-adress {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 26px;
    color: #ababab;
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      font-family: 'icomoon';
      font-size: 15px;
      left: 0;
      top: 0;
      font-size: 16px;
      color: #fff;
    }
  }
  &__info-phone {
    &::before {
      content: '\e917';
    }
  }
  &__info-email {
    &::before {
      content: '\e90c';
    }
  }
  &__info-adress {
    &::before {
      content: '\e915';
      top: 10px;
    }
  }

  &__company {
    max-width: 130px;
  }
  &__support {
    max-width: 140px;
  }
  &__company-title,
  &__support-title,
  &__newsletter-title {
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    margin-bottom: 30px;
  }
  &__company-list,
  &__support-list {
    margin: 0;
    padding: 0;
  }
  &__company-item,
  &__support-item {
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
  }
  &__company-link,
  &__support-link {
    text-decoration: none;
    font-size: 15px;
    color: #ababab;
  }

  &__newsletter {
    max-width: 360px;
  }
  &__newsletter-text {
    font-size: 15px;
    line-height: 28px;
    color: #ababab;
    margin-bottom: 30px;
  }
  &__search-input {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    font-size: 15px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 120px;
    outline: transparent;
    border: none;
  }
  &__search-form {
    position: relative;
    margin-bottom: 45px;
  }
  &__search-btn {
    position: absolute;
    border: none;
    background-color: #0674ec;
    color: #fff;
    width: 110px;
    height: 50px;
    border-radius: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      opacity: .8;
    }
  }
  &__social {
    display: flex;
  }
  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #0674ec;
    & + .footer__social-link {
      margin-left: 12px;
    }
    &--face {
      background-color: #395799;
    }
    &--twitter {
      background-color: #19b2f5;
    }
    &--google {
      background-color: #f05b44;
    }
    &--pint {
      background-color: #9c0c1c;
    }
    &--linked {
      background-color: #0da6be;
    }
    &--drib {
      background-color: #ea4c89;
    }
  }
}




// end footer 















